<footer>
    <div class="container footer-content">
        <div class="footer-left">
            CC BY-ND, Mathematical Modelling in Medicine, 2026
        </div>
        <div class="footer-right">
            Last updated on {{ BUILD_DATE }}
        </div>
    </div>
</footer>
<script src="{{ PATH_PREFIX }}assets/menu.js"></script>
