<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mathematical Modeling in Medicine</title>
    <link rel="stylesheet" href="{{ PATH_PREFIX }}assets/style.css">
</head>