<div class="header">
    <div class="logo">
        <img src="{{ PATH_PREFIX }}logo_uni_heidelberg.svg" alt="University of Heidelberg Logo">
    </div>

    <div class="menu-icon" id="menu-icon">&#9776;</div>

    <div class="links" id="nav-links">
        <a href="{{ PATH_PREFIX }}index.html"{% if IS_HOME %} class="active"{% endif %}>Home</a>
        <a href="{{ PATH_PREFIX }}projects.html"{% if IS_PROJECTS %} class="active"{% endif %}>Projects</a>
        <a href="{{ PATH_PREFIX }}teaching.html"{% if IS_TEACHING %} class="active"{% endif %}>Teaching</a>
        <a href="{{ PATH_PREFIX }}team.html"{% if IS_STUDENTS %} class="active"{% endif %}>Team</a>
        <a href="{{ PATH_PREFIX }}publications.html"{% if IS_PUBLICATIONS %} class="active"{% endif %}>Publications</a>
        <a href="{{ PATH_PREFIX }}links.html"{% if IS_LINKS %} class="active"{% endif %}>Links</a>
        <a href="{{ PATH_PREFIX }}contact.html"{% if IS_CONTACT %} class="active"{% endif %}>Contact</a>
    </div>
</div>
